@inherits LayoutComponentBase

<MudThemeProvider Theme="@_theme" IsDarkMode="true" />
<MudLayout>
    <MudAppBar Elevation="1">
 <div class="d-flex justify-space-between" style="width: fit-content;margin: auto;">
     
            <MudNavLink style="width: auto;" Class="mx-4"  Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>
            <MudNavLink style="width: auto;" Class="mx-4"  Href="diagramEditor" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.AutoGraph">Diagram Editor</MudNavLink> 
       
      </div>
    </MudAppBar>
        
        @* <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@DrawerToggle" /> *@
             
    @* <MudDrawer id="nav-drawer" @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <NavMenu />
    </MudDrawer> *@
    <MudMainContent Class="pt-16 pa-4" Style="height: calc(100vh);">
        @Body
    </MudMainContent>
</MudLayout>


@code {
    private bool _drawerOpen = true; 
    private MudTheme? _theme = null;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _theme = new()
        { 
            PaletteDark = _darkPalette,
            LayoutProperties = new LayoutProperties()
        };
    }

    private void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    private readonly PaletteDark _darkPalette = new()
    {
        Primary = "#F2A900", // PUBG Orange
        Secondary = "#A69B98", // PUBG Tan
        Tertiary = "#8A7353", // PUBG Green
        Surface = "#000000", // PUBG Black
        Background = "#222222", // PUBG Gray
        BackgroundGray = "#333333", // Slightly lighter than PUBG Gray
        AppbarText = "#FFFFFF", // PUBG White
        AppbarBackground = "rgba(0,0,0,0.9)", // PUBG Black with transparency
        DrawerBackground = "#222222", // PUBG Gray
        ActionDefault = "#A69B98", // PUBG Tan
        ActionDisabled = "#A69B9866", // PUBG Tan with transparency
        ActionDisabledBackground = "#8A73534d", // PUBG Green with transparency
        TextPrimary = "#FFFFFF", // PUBG White
        TextSecondary = "#A69B98", // PUBG Tan
        TextDisabled = "#FFFFFF33", // PUBG White with transparency
        DrawerIcon = "#F2A900", // PUBG Orange
        DrawerText = "#FFFFFF", // PUBG White
        GrayLight = "#333333", // Darker than PUBG Gray
        GrayLighter = "#222222", // PUBG Gray
        Info = "#4a86ff",
        Success = "#8A7353", // PUBG Green
        Warning = "#F2A900", // PUBG Orange
        Error = "#ff3f5f",
        LinesDefault = "#444444", // Lighter than PUBG Gray
        TableLines = "#444444", // Lighter than PUBG Gray
        Divider = "#333333", // Darker than PUBG Gray
        OverlayLight = "#22222280", // PUBG Gray with transparency
    };

 
}


